<div class="container">
    <div class="row space-between product-type">
        <div>
            <a href="#" (click)='getProducts("foundation")'>Foundation</a>
        </div>
        <div>
            <a href="#" (click)='getProducts("powder")'>Powder</a>
        </div>
        <div>
            <a href="#" (click)='getProducts("lipsticks")'>Lipstick</a>
        </div>
        <div>
            <a href="#" (click)='getProducts("lipgloss")'>Lip gloss</a>
        </div>
        <div>
            <a href="#">Makeup Primer</a>
        </div>
        <div>
            <a href="#" (click)='getProducts("concealer")'>Concealer</a>
        </div>
        <div class="dropdown">
            <button class="dropbtn" (click)="showMore= !showMore">More <img class="dropdown-icon" [ngClass]="{'rotate-180': showMore}" src="assets/images/down-arrow.png" alt=""> </button>
            <div *ngIf="showMore" class="dropdown-content">
                <a href="#">Primer</a>
                <a href="#" (click)='getProducts("mascara")'>Mascara</a>
                <a href="#" (click)='getProducts("eyelash")'>Eyelash</a>
                <a href="#">Blush</a>
                <a href="#">Eyebrow</a>
                <a href="#">Lip Liner</a>
            </div>
        </div>
    </div>
</div>

<app-banner [imageUrl]="'assets/images/lipstick_1.jpg'"></app-banner>


<div *ngIf="products" class="container">
    <div class="row space-between">
        <div *ngFor="let item of products;let i = index" class="product-list-row">
            <div class="t-al-c">
                <img (click)="productDetails(content, item)" class="product-lg-img cur-pointer" [src]="item.large_image_url" alt="">

            </div>

            <div (click)="productDetails(content, item)" class="product-details cur-pointer">
                <p class="b-b-black">{{item.name}}</p>
                <p>{{item.description}}</p>
                <p class="f-w-b">TK {{item.price}}.00</p>
            </div>

            <div class="abs-top-rigt">
                <p>{{item.shade}}</p>
            </div>

            <div class="add-tocart-btn-box">
                <button (click)="addToCart(item)" class="add-to-cart-btn">Add to cart</button>
                <button (click)="productDetails(content, item)" class="add-to-cart-btn">Quick view</button>
            </div>
            <div (click)="productDetails(content, item)" class="black-layer"></div>

        </div>
    </div>
</div>

<!-- Product Content -->
<ng-template #content let-modal>
    <div class="modal-body modal-content-container">
        <div class="image-container">
            <div class="main-image">
                <img src="{{largeImage}}" class="img-fluid" />
            </div>
            <div class="thumb-image">
                <ul class="thumb-list">
                    <li *ngFor="let quickviewimage of qvProductContent.quick_view_images; let n = index" [ngClass]="{active: isActive(n)}" (click)="changeImage(quickviewimage, n)">
                        <img src="{{baseImageurl}}{{quickviewimage}}" class="img-fluid" width="50px" onerror="this.style.display='none'" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="prod-details">
            <button type="button" aria-label="Close" class="modal-close" (click)="modal.dismiss('Cross click')">
                <span class="modal-close-size" aria-hidden="true">&times;</span>
            </button>
            <div class="prod-title">
                <h3>{{qvProductContent.name}}</h3>
            </div>
            <div class="prod-price">
                <span class="price f-w-b">TK {{qvProductContent.price}}.00</span>
                <span class="size">{{qvProductContent.size}}</span>
                <div class="shade">{{qvProductContent.shade}}</div>
            </div>
            <div class="prod-desc">
                <p>{{qvProductContent.description}}</p>
            </div>
            <div class="add-to-cart">
                <button type="button" (click)="addToCart(qvProductContent);modal.dismiss('Cross click')" class="border-0 f-14">Add to cart</button>
            </div>
        </div>
    </div>
</ng-template>