@import url('https://fonts.googleapis.com/css?family= Gelasio|Nanum Gothic:800|Muli|Courier Prime|Roboto Mono|Poppins|Roboto Slab|Cabin|Open Sans');

@-ms-viewport {
    width: device-width
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    padding-top: 65px;
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width:1199px) {
    .container {
        width: calc(100% - 48px);
        // margin: 0 24px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1200px
    }
}

@media (min-width:1800px) {
    .container {
        max-width: 1310px
    }
}

.container-fluid {
    width: 100%;
    width: 100%;
    max-width: none;
    margin-right: 0;
    margin-left: 0
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

a:hover,
a:focus {
    text-decoration: none !important;
}

a,
.cur-pointer {
    cursor: pointer;
}

.color-white {
    color: white;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.display-flex {
    display: flex;
}

.active {
    border-bottom: 1px solid white;
}

.pos-relative {
    position: relative;
}

.b-b-black {
    border-bottom: 1px solid black;
}

.border-0 {
    border: 0px;
}

.modal-close-size {
    font-size: 28px;
}

.f-14 {
    font-size: 14px;
}

.f-w-b {
    font-weight: bold;
}

.c-b {
    color: #000;
}

.op-1 {
    opacity: 1;
}

.m-t-10{
    margin-top: 10px;
}

.m-t-25{
    margin-top: 25px;
}
.p-t-10{
    padding-top: 10px;
}

.p-r-20{
    padding-right: 20px;
}
.m-b-25 {
    margin-bottom: 25px;
}
.m-b-30 {
    margin-bottom: 30px;
}
.m-b-10{
    margin-bottom: 10px;
}

.m-l-20{
    margin-left: 20px;
}
.t-al-l {
    text-align: left;
}
.t-al-c {
    text-align: center;
}
.l-s-1{
    letter-spacing: 1px;
}

.w-100-p{
    width: 100%;
}

.rob-mono {
    font-family: 'Roboto Mono';
    letter-spacing: 0;
}
.nanum-gothic{
    font-family: 'Nanum Gothic';
}

.f-d-c {
    flex-direction: column;
}

.btn-b-w {
    background-color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
}

@media(max-width:899.99px){
    .m-0-899{
        margin: 0;
    }
}
.c-red{
    color: red;
}

.c-white{
    color: #fff;
}

.rotate-180{
    transform: rotate(180deg);
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.h-500{
    height: 500px;
}

.btn-bg-b{
    background-color: #000;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    border: #000;
}
.t-t-upper{
    text-transform: uppercase;
}
