<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-5">
              <h2 class="footer-heading mb-4">About Us</h2>
              <p>We only buy authentic north american products and ship them to you. We dont produce or own any products. We buy products after we receive orders.</p>
            </div>
            <div class="col-md-4 " style="margin-bottom: 20px;">
              <h2 class="footer-heading mb-4">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">+8801713551272</a></li>
              </ul>
            </div>
            <div class="col-md-3" style="margin-bottom: 30px;">
              <h2 class="footer-heading mb-4">Follow Us</h2>
              <a href="#" class="pl-0 pr-3"><img src="assets/images/facebook.png" width="20" alt=""></a>
              <a href="#" class="pl-3 pr-3"><img src="assets/images/instagram.png" width="20" alt=""></a>
              
            </div>
          </div>
        </div>
        <div class="col-md-3 ml-auto">
          <h2 class="footer-heading mb-4">Your Account</h2>
          <ul class="list-unstyled">
            <li><a href="#">My Account</a></li>
            <li><a href="#">Order Status</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>