<!-- desktop -->
<div class="header-box header-desktop">

    <div class="container">
        <div class="row space-between">

            <div class="head-flex-item cur-pointer">
                <div class="row">
                    <div class="header-logo-box">
                        <span class="header-logo">Authenticity.</span>
                        
                    </div>
                    <div class="display-flex product-brands align-center">
                        <a routerLink='/'><img src="assets/images/maclogo.png" height="14" alt="Mac Products"></a>
                    </div>
                </div>
            </div>

            <div class="head-flex-item display-flex align-center pos-relative">
                <div class="cart-box">
                    <div class="sign-in-box">
                        <span class="cur-pointer">SIGN IN </span>
                        <span class="cur-pointer">REGISTER</span>
                    </div>
                </div>

                <div class="cart-box cur-pointer" (click)="showCart=true">
                    <div class="cart pos-relative">
                        <span class="item-cart">{{(userCart | async).noOfItem}}</span>
                        <span class="half-circle"></span>
                    </div>

                    <!-- VIEW BAG -->
                    <div class="cart-products" *ngIf="showCart">
                        <div *ngFor="let item of (userCart | async).order;let i =index;">
                            <p>{{item.name}}, price : {{item.price}} <span style="margin-left: 20px;" (click)="removeItem(i)">&times;</span></p>
                        </div>
                        <p class="cart-total">total : {{(userCart | async).totalPrice}}</p>
                        <div class="view-bag-btn-box">
                            <button class="view-bag-btn">VIEW BAG</button>
                        </div>
                    </div>
                     <!-- VIEW BAG -->




                </div>

            </div>


        </div>
    </div>
</div>

<!-- mobile -->
<div class="header-box header-mobile">

    <div class="container">
        <div class="row space-between">

            <div class="head-flex-item display-flex align-center pos-relative">
                <button class="navbar-toggler" style="color: white;" type="button"
                    (click)="isMenuCollapsed = !isMenuCollapsed">
                    &#9776;
                </button>

            </div>
            <div class="head-flex-item cur-pointer">
                <div class="row">
                    <div class="header-logo-box">
                        <span class="header-logo">Authenticity</span>
                    </div>
                </div>
            </div>
            <div class="head-flex-item display-flex align-center pos-relative">
                <div class="cart-box cur-pointer">
                    <span class="item-cart">{{(userCart | async).noOfItem}}</span>
                    <span class="half-circle"></span>
                </div>
            </div>
        </div>


        <div [ngbCollapse]="isMenuCollapsed" class="hamburger-menu collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">MAC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">SIGN IN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">REGISTER</a>
                </li>
            </ul>
        </div>

    </div>
</div>