.header-box {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: black;
    z-index: 22;
    color: white;

    & .head-flex-item {
        padding: 4px 0 2px;

        .header-logo-box {
            height: 60px;
            line-height: 60px;
        }

        .header-logo {
            display: block;
            font-size: 28px;
            font-family: 'Roboto Slab';
            margin-right: 20px;

            .bd-logo {
                color: #06d906;

                @media (max-width:899.98px) {
                    font-size: 12px;
                }
            }

            @media (max-width:899.98px) {
                & {
                    height: 40px;
                    font-size: 20px;
                }
            }
        }

        .cart-box {
            font-family: 'Roboto Mono';

            & .sign-in-box {
                margin-right: 20px;
                font-size: 12px;
                color: #ffffff;

                span {
                    display: block;
                }
            }

            // <!-- VIEW CART -->
            & .cart-products {
                position: absolute;
                background-color: white;
                color: black;
                width: 400px;
                top: 66px;
                right: -15px;
                text-align: center;
                font-family: 'Nanum Gothic';
                letter-spacing: 1px;
                padding: 20px 30px;
                border: 1px solid #c7c7c7;

                @media (max-width:399.98px) {
                    & {
                        width: 320px;
                        right: -24px;
                    }
                }

                & .cart-total {
                    border-top: 1px solid #c7c7c7;
                    padding-top: 20px;
                    display: flex;
                    font-weight: bold;

                    @media (max-width:499.98px) {
                        & {
                            margin-bottom: 20px;
                        }
                    }
                }

                & .checkout-btn {
                    width: 100%;
                    background-color: black;
                    padding: 15px;
                    color: white;
                    border: none;

                    @media (max-width:499.98px) {
                        & {
                            margin-bottom: 20px;
                        }
                    }
                }

                & .cart-item-container {
                    max-height: 62vh;
                    overflow: scroll;

                    @media (max-width:899.98px) {
                        & {
                            max-height: 48vh;
                        }
                    }

                    @media (max-width:399.98px) {
                        & {
                            max-height: 39vh;
                        }
                    }
                }

                & .view-bag-btn {
                    width: 100%;
                    margin-bottom: 20px;
                    padding: 10px;
                    background-color: black;
                    color: white;
                    cursor: pointer;
                    border: none;
                }

                & .cart-item {
                    width: 50%;
                    text-align: left;
                    margin-bottom: 35px;
                    font-size: 15px;

                    p {
                        margin-bottom: 8px;
                    }
                }
            }


            //<!-- VIEW CART -->
        }

        .item-cart {
            border: 1px solid white;
            display: block;
            text-align: center;
            width: 20px;
            height: 21px;
            font-size: 13px;
            background-color: black;

            @media (max-width:899.98px) {
                & {
                    width: 17px;
                    height: 18px;
                    font-size: 11px;
                }
            }
        }

        .half-circle {
            position: absolute;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 1px solid white;
            display: block;
            z-index: -1;
            top: -7px;
            left: 3px;

            @media (max-width:899.98px) {
                & {
                    top: 19px;
                    width: 11px;
                    height: 11px;
                }
            }
        }

        .product-brands {
            margin-left: 15px;

            & a {
                color: white !important;
                margin-left: 20px;

                &:hover {
                    border-bottom: 1.5px solid white;
                }
            }

        }
    }

    & .hamburger-menu {
        font-family: 'Roboto Slab';
    }
}

.header-mobile {
    display: none;
}

@media (max-width:899.98px) {
    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: block;
    }
}