<!-- desktop -->
<div class="header-box header-desktop">

    <div class="container">
        <div class="row space-between">

            <div class="head-flex-item cur-pointer">
                <div class="row">
                    <div class="header-logo-box">
                        <!-- <span class="header-logo">Authenticity | Bangladesh</span> -->
                        <div class="header-logo">Authenticity | <span class="f-14 bd-logo">Bangladesh</span></div>

                    </div>
                    <div class="display-flex product-brands align-center">
                        <a routerLink='/'><img src="assets/images/maclogo.png" height="14" alt="Mac Products"></a>
                    </div>
                </div>
            </div>

            <div class="head-flex-item display-flex align-center pos-relative">
                <div class="cart-box">
                    <div class="sign-in-box">
                        <span class="cur-pointer">SIGN IN </span>
                        <span class="cur-pointer">REGISTER</span>
                    </div>
                </div>

                <div class="cart-box cur-pointer">
                    <div class="cart pos-relative">
                        <span class="item-cart" (click)="showCart=true">{{(userCart | async).noOfItem}}</span>
                        <span class="half-circle"></span>
                    </div>

                    <!-- VIEW BAG -->
                    <div *ngIf="showCart" class="cart-products">
                        <div class="display-flex f-w-b space-between m-b-25">
                            <div>YOUR BAG</div>
                            <div class="cur-pointer" (click)="showCart=false">
                                <img src="assets/images/cross-out.png" width="20" alt="">
                            </div>

                        </div>

            

                        <div class="cart-item-container">
                            <div *ngFor="let item of (userCart | async).order;let i =index;"
                                class="display-flex space-between t-al-l">
                                <div><img [src]="baseImageUrl + item.small_image_url" class="m-l-20" width="100" alt="">
                                </div>
                                <div class="c-b op-1 cart-item">
                                    <p>{{item.name}}</p>
                                    <p class="rob-mono">{{item.shade}}</p>
                                    <p>TK {{item.price}}.00</p>
                                    <button class="btn-b-w rob-mono f-14" (click)="removeItem(i)">Remove</button>
                                </div>
                            </div>
                        </div>


                        <div class="cart-total space-between m-b-30 m-t-10">
                            <div>SUBTOTAL</div>
                            <div class="cur-pointer">TK {{(userCart | async).totalPrice}}.00</div>

                        </div>
                        <button class="f-14 checkout-btn m-b-30">CHECKOUT</button>


                        

                    </div>
                    <!-- VIEW BAG -->




                </div>

            </div>


        </div>
    </div>
</div>

<!-- mobile -->
<div class="header-box header-mobile">

    <div class="container">
        <div class="row space-between">

            <div class="head-flex-item display-flex align-center pos-relative">
                <button class="navbar-toggler" style="color: white;" type="button"
                    (click)="isMenuCollapsed = !isMenuCollapsed">
                    &#9776;
                </button>

            </div>
            <div class="head-flex-item cur-pointer">
                <div class="row">
                    <div class="header-logo-box">
                        <span class="header-logo">Authenticity</span>
                    </div>
                </div>
            </div>
            <div class="head-flex-item display-flex align-center pos-relative">
                <div class="cart-box cur-pointer">
                    <span class="item-cart">{{(userCart | async).noOfItem}}</span>
                    <span class="half-circle"></span>
                </div>
            </div>
        </div>


        <div [ngbCollapse]="isMenuCollapsed" class="hamburger-menu collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">MAC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">SIGN IN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">REGISTER</a>
                </li>
            </ul>
        </div>

    </div>
</div>